/vendor/
/.env
/node_modules/
/.idea/
/.vscode/
*.log
*.cache
.DS_Store
composer.lock
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
