<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_KEY" value="base64:testkey123456789012345678901234567890123456789012345678901234567890="/>
        <env name="DB_CONNECTION" value="mysql" force="false"/>
        <env name="DB_DATABASE" value="teste_db" force="false"/>
        <env name="DB_HOST" value="127.0.0.1" force="false"/>
        <env name="DB_PORT" value="3306" force="false"/>
        <env name="DB_USERNAME" value="root" force="false"/>
        <env name="DB_PASSWORD" value="root_password" force="false"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="REDIS_HOST" value="127.0.0.1" force="false"/>
        <env name="REDIS_PORT" value="6379" force="false"/>
    </php>
</phpunit>
